h1 {
    background-color: lightblue;
}

.embedded_list {
    font-size: 90%;
}

#webpage {
    width: 100%;
    height: auto;
}

.lists {
    width:90%; /*Takes 90% width from WebContainer*/
    height: auto;
    margin: auto;
}